/*
 * -------------------------------------------------
 *  genome-annotation Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

process.container = "docker://ikmb/esga:1.1"

/**********************
   Default parameters
 ***********************/

params { 

	proteins = false
	transcripts = false
	reads = false
	proteins_targeted = false
	references = false
	prothint_gff = false

	trinity = false
	pasa = false
	evm = false
	evm_weights = "$baseDir/assets/evm/weights.txt"

	polish = false

	aug_species = false
        aug_config = "$baseDir/assets/augustus/augustus_default.cfg"
	aug_config_folder = false

	empty_gff = "$baseDir/assets/empty.gff3"
	rm_species = false
	rm_lib = false

	aug_training = false
	aug_training_models = 1000
	aug_train_perc = 90
	aug_train_set = false
	aug_options = ""
	aug_chunk_length = 3000000
	utr = false
	
	fast = true

	rnaseq_aligner = "star"
	protein_aligner = "spaln"

	spaln_q = 5
	spaln_taxon = "Tetrapod"
	spaln_options = "-M"

	gth_options = false

	blast_evalue = 0.0001

	uniprot = ""

	ncrna = false

	chunk_size = 50000

	nproteins = 300

	nevm = 10
	max_intron_size = 20000
	npart_size = 200000000
	min_contig_size = 5000
	min_prot_length = 30

	singleEnd = false
	rnaseq_stranded = false
	
	outdir = "results"

	run_name = false
	help = false
	email = false
	plaintext_email = false
	skip_multiqc = true

	pasa_mysql_user = false
	pasa_mysql_pass = false
	pasa_mysql_host = "localhost"
	pasa_mysql_port = 3306
	pasa_config = "${baseDir}/assets/pasa/alignAssembly.config"
	pasa_update_config = "${baseDir}/assets/pasa/annotationCompare.config"

	pri_prot = 4
	pri_prot_target = 5
	pri_est = 3
	pri_rnaseq = 4
	pri_wiggle = 2
	pri_trans = 4
	
	t_est = "E"
	t_prot = "P"
	t_rnaseq = "E"

}

/***************
   Profiles 
 ***************/
 
profiles {
	standard {
		includeConfig 'conf/ccga_medcluster.config'
		includeConfig 'conf/base.config'
	}
	nbis {
		includeConfig 'conf/nbis_slurm.config'
		includeConfig 'conf/base.config'
	}
	hiller_lab {
		includeConfig 'conf/hiller_lab.config'
		includeConfig 'conf/base.config'
	}
	local {
		includeConfig 'conf/base.config'
	}
	none {
		// Don't load any config (for use with custom home configs)
	}
}


/***********************
    Pipeline Info
 **********************/
 
// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
	enabled = true
	file = "${params.outdir}/pipeline_info/genome-annotation_timeline.html"
}
report {
	enabled = true
	file = "${params.outdir}/pipeline_info/genome-annotation_report.html"
}
trace {
	enabled = true
	file = "${params.outdir}/pipeline_info/genome-annotation_trace.txt"
}
dag {
	enabled = true
	file = "${params.outdir}/pipeline_info/genome-annotation_dag.svg"
}

manifest {
	homePage = 'https://github.com/ikmb/esga.git'
	description = 'This pipeline annotates an eukaryotic genome de novo with external hints.'
	mainScript = 'main.nf'
	version = '1.1.3'
	nextflowVersion = '20.01.0'
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if(type == 'memory'){
    try {
      if(obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'time'){
    try {
      if(obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'cpus'){
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}

params {
  // Defaults only, expecting to be overwritten
  max_memory = 120.GB
  max_cpus = 16
  max_time = 120.h
}

