/*
 * -------------------------------------------------
 *  genome-annotation Nextflow base config file
 * -------------------------------------------------
 */

process {

	cpus = { 1 * task.attempt }
	memory = { check_max( 8.GB * task.attempt, 'memory') }
	time = { 2.h * task.attempt }

	errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'finish' }
	maxRetries = 1
	maxErrors = '-1'

	withLabel: short_running {
		time = { check_max(4.h * task.attempt, 'time') }
		memory = { check_max( 8.GB * task.attempt, 'memory') }
		cpus = { 1 * task.attempt }
	}

	withLabel: medium_running {
		time = { check_max(12.h * task.attempt, 'time') }
		memory = { check_max( 16.GB * task.attempt, 'memory') }
                cpus = { 1 * task.attempt }
	}

	withLabel: long_running {
		time = { check_max(48.h * task.attempt, 'time') }
		memory = { check_max( 16.GB * task.attempt, 'memory') }
                cpus = { 1 * task.attempt }
	}
	withLabel: augustus {
		container = "docker://ikmb/esga:aug_1.3"
	}
	withLabel: extra_long_running {
		time = { check_max(params.max_time * task.attempt, 'time') }
		memory = { check_max( 16.GB * task.attempt, 'memory') }
                cpus = { 2 * task.attempt }
	}
	withLabel: repeatmodeler {
		container = "docker://quay.io/biocontainers/repeatmodeler:2.0.2a--pl5262h9ee0642_0"
	}
	withLabel: repeatmasker {
		container = "docker://quay.io/biocontainers/repeatmasker:4.1.2-p1"
	}
	withLabel: snap {
		container = "docker://quay.io/biocontainers/snap:2013_11_29--h779adbc_3"
	}
	withLabel: satsuma {
		container = "docker://mhoeppner/satsuma2:1.0"
	}
	withLabel: star {
		container = "docker://quay.io/biocontainers/star:2.7.9a--h9ee0642_0"
	}
	withLabel: fastp {
		container = "docker://quay.io/biocontainers/fastp:0.20.1--h8b12597_0"
	}
	withLabel: blast {
		container = "docker://quay.io/biocontainers/blast:2.11.0--pl526he19e7b1_0"
	}
	withLabel: gaas {
		time = { check_max(6.h * task.attempt, 'time') }
                memory = { check_max( 16.GB * task.attempt, 'memory') }
                cpus = { 1 * task.attempt }
		container = "docker://quay.io/biocontainers/gaas:1.2.0--pl526r35_0"
	}
	withLabel: pasa {
		container = "docker://ikmb/esga:pasa_1.3"
	}
	withLabel: trinity {
		container = "docker://quay.io/biocontainers/trinity:2.12.0--ha140323_1"
	}
	withLabel: infernal {
		container = "docker://quay.io/biocontainers/infernal:1.1.3--h516909a_0"
	}
	withLabel: deeptools {
		time = { check_max(6.h * task.attempt, 'time') }
                memory = { check_max( 16.GB * task.attempt, 'memory') }
                cpus = { 8 * task.attempt }
                container = "docker://quay.io/biocontainers/deeptools:3.5.0--py_0"
	}
	withLabel: hisat {
		container = "docker://quay.io/biocontainers/hisat2:2.2.1--h1b792b2_3"
	}
	withLabel: multiqc {
		container = "docker://quay.io/biocontainers/multiqc:1.9--py_1"
	}
	withLabel: minimap {
		container = "docker://ikmb/esga:minimap_1.3"
	}
	withName:repeatModel {
		time = { check_max(params.max_time * task.attempt, 'time') }
		cpus = params.max_cpus
		memory = { check_max(32.GB * task.attempt, 'memory') }	
	}
	withName:'repeatMaskLib|repeatMaskSpecies' {
		cpus = params.max_cpus
		memory = { check_max(32.GB * task.attempt, 'memory') }
		time = { check_max(120.h * task.attempt, 'time') }
	}
	withName:seqclean {
		cpus = { check_max(8 * task.attempt, 'cpus') }
		memory = { check_max(16.GB * task.attempt, 'memory') }
                time = { check_max(48.h * task.attempt, 'time') }
	}
	withName: infernal_search {
		cpus = { check_max(8 * task.attempt, 'cpus') }
                memory = { check_max(16.GB * task.attempt, 'memory') }
                time = { check_max(48.h * task.attempt, 'time') }
	}
	withName: BamToExonHint {
                time = { check_max(24.h * task.attempt, 'time') }
	}
	withName:spalnMakeIndex {
		cpus = 4
		memory = { check_max(16.GB * task.attempt, 'memory') }
		time = { check_max(8.h * task.attempt, 'time') }
	}
	withName:spalnAlign {
		cpus = { check_max(8 * task.attempt, 'cpus') }
                memory = { check_max(64.GB * task.attempt, 'memory') }
                time = { check_max(8.h * task.attempt, 'time') }
	}
	withName:targets2gth  {
		cpus = { check_max(8 * task.attempt, 'cpus') }
		memory = { check_max(32.GB * task.attempt, 'memory') }
		time = { check_max(4.h * task.attempt, 'time') }
	}
	withName:estMinimap {
		cpus = { check_max(8 * task.attempt, 'cpus') }
                memory = { check_max(64.GB * task.attempt, 'memory') }
                time = { check_max(4.h * task.attempt, 'time') }
        }
	withName:run_snap {
		cpus = 2
		memory = { check_max(16.GB * task.attempt, 'memory') }
		time = { check_max(4.h * task.attempt, 'time') }
        }
	withName:'runAugustusBatch|runAugustusChunks|runAugustus|trainAugustus' {
                cpus = params.max_cpus
                memory = { check_max(64.GB * task.attempt, 'memory') }
                time = { check_max(96.h * task.attempt, 'time') }
        }
	withName: STARmakeDB {
		cpus = 8
                memory = { check_max(32.GB * task.attempt, 'memory') }
                time = { check_max(4.h * task.attempt, 'time') }
	}
	withName: 'STARalign|STARalignTwo' {
		cpus = params.max_cpus
                memory = { check_max(120.GB * task.attempt, 'memory') }
                time = { check_max(4.h * task.attempt, 'time') }
	}
	withName:HisatMakeDB {
                cpus = 8
                memory = { check_max(32.GB * task.attempt, 'memory') }
                time = { check_max(4.h * task.attempt, 'time') }
        }
	withName: blast_proteins {
		cpus = 8
		memory = { check_max(16.GB * task.attempt, 'memory') }
                time = { check_max(12.h * task.attempt, 'time') }
	}
	withName:trim {
                cpus = { check_max(8 * task.attempt, 'cpus') }
                memory = { check_max(8.GB * task.attempt, 'memory') }
                time = { check_max(4.h * task.attempt, 'time') }
        }
	withName:HisatMap {
		cpus = { check_max(8 * task.attempt, 'cpus') }
                memory = { check_max(32.GB * task.attempt, 'memory') }
                time = { check_max(4.h * task.attempt, 'time') }
	}
	withName:mergeBams {
		cpus = 8
                memory = { check_max(32.GB * task.attempt, 'memory') }
                time = { check_max(8.h * task.attempt, 'time') }
	}
	withName:BamToIntronHint {
		memory = { check_max(32.GB * task.attempt, 'memory') }
                time = { check_max(8.h * task.attempt, 'time') }
	}	
	withName:trinity {
		cpus = params.max_cpus
                memory = { check_max(params.max_memory * task.attempt, 'memory') }
                time = { check_max(72.h * task.attempt, 'time') }
	}
	withName:pasa_assembly {
                cpus = params.max_cpus
                memory = { check_max(32.GB * task.attempt, 'memory') }
                time = { check_max(params.max_time, 'time') }
        }
	withName: PasaToModels {
		time = { check_max(96.h * task.attempt, 'time') }
	}
	withName: align_genomes {
		cpus = params.max_cpus
                memory = { check_max(params.max_memory, 'memory') }
                time = { check_max(params.max_time, 'time') }
	}
	withName: map_gtf {
		time = params.max_time
		memory = 16.GB
	}
}
